apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: pikaraoke
  namespace: pikaraoke
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.29.13
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  uninstall:
    keepHistory: false
  values:
    image:
      repository: vicwomg/pikaraoke
      tag: 1.14.1
      pullPolicy: IfNotPresent
    global:
      stopAll: false
    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
        - host: karaoke.${DOMAIN_0}
        integrations:
          nginx:
            enabled: true
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
    service:
      main:
        enabled: true
        loadBalancerIP: "192.168.1.216"
        ports:
          main:
            port: 5555
            targetPort: 5555
        type: LoadBalancer

    persistence:
      data:
        enabled: true
        mountPath: "/app/pikaraoke-songs"

    securityContext:
      container:
        runAsUser: 0
        runAsGroup: 0
        readOnlyRootFilesystem: false

    workload:
      main:
        podSpec:
#          runtimeClassName: "nvidia"
          containers:
            main:
              args:
              - "-u https://karaoke.${DOMAIN_0}"
              - "-l 10"
#    resources:
#      limits:
#        cpu: 4000m
#        memory: 4800Mi
#        nvidia.com/gpu: 1