apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: beets
  namespace: beets
spec:
  interval: 15m
  chart:
    spec:
      chart: beets
      version: 14.13.15
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    TZ: America/Los_Angeles
    credentials:
      backblaze:
        type: s3
        url: "${S3_ENDPOINT_URL}"
        bucket: "${S3_BUCKET}-beets"
        accessKey: "${S3_ACCESS_KEY}"
        secretKey: "${S3_SECRET_KEY}"
        encrKey: "${S3_ENCRYPTION_KEY}"
    ingress:
      main:
        enabled: true
        ingressClassName: internal
#        annotations:
#          nginx.ingress.kubernetes.io/enable-cors: "true"
#          nginx.ingress.kubernetes.io/cors-allow-origin: "https://jukebox.${DOMAIN_0}, https://${AUTH_ADDRESS}"
        hosts:
        - host: "beets.${DOMAIN_0}"
        integrations:
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          nginx:
            enabled: true
          traefik:
            enabled: false
    persistence:
      config:
        enabled: true
        mountPath: "/config"
        volsync:
        - name: config
          type: restic
          credentials: backblaze
          dest:
            #VolSync Destination (Restore)
            enabled: false
          src:
            #VolSync Source (Backup)
            enabled: false
      ingest:
        enabled: true
        type: nfs
        path: /mnt/Ottvault/Media/audio/music/raw
        mountPath: /media/music/ingest
        server: ${NAS_IP}
      library:
        enabled: true
        type: nfs
        path: /mnt/Ottvault/Media/audio/music/baked
        mountPath: media/music/clean
        server: ${NAS_IP}
