apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: calibre-web-auto
  namespace: calibre-web-auto
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.29.82
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    TZ: America/Los_Angeles
    image:
      repository: crocodilestick/calibre-web-automated
      tag: v4.0.5@sha256:e4d31ce6e5850bf978bbea22641df19adaf66dd55112e9bfe22211895803651f
      pullPolicy: IfNotPresent
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
        - host: booknook.${DOMAIN_0}
        integrations:
          nginx:
            enabled: true
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
    service:
      main:
        enabled: true
        loadBalancerIP: ""
        ports:
          main:
            port: 8083
            targetPort: 8083
        type: LoadBalancer

    securityContext:
      container:
        readOnlyRootFilesystem: false
        runAsGroup: 0
        runAsUser: 0
    workload:
      main:
        podSpec:
          containers:
            main:
              fixedEnv:
                PUID: 1000
                GUID: 1000
    persistence:
      config:
        enabled: true
        mountPath: "/config"
      library:
        enabled: true
        mountPath: "/calibre-library"
      ingest:
        enabled: true
        type: nfs
        path: /mnt/Ottvault/Media/calibre
        mountPath: /cwa-book-ingest
        server: ${NAS_IP}
