---
# yaml-language-server: $schema=https://kubernetes-schemas.zinn.ca/helm.toolkit.fluxcd.io/helmrelease_v2beta1.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud
  namespace: nextcloud
spec:
  interval: 15m
  chart:
    spec:
      chart: nextcloud
      version: 40.4.13
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:

    global:
      stopAll: false

    credentials:
      backblaze:
        type: s3
        url: "${S3_ENDPOINT_URL}"
        bucket: "${S3_BUCKET}-nextcloud"
        accessKey: "${S3_ACCESS_KEY}"
        secretKey: "${S3_SECRET_KEY}"
        encrKey: "${S3_ENCRYPTION_KEY}"

    nextcloud:
      credentials:
        initialAdminUser: ${NC_USER}
        initialAdminPassword: ${NC_PASS}
      general:
        default_phone_region: US
        accessIP: ${NGINX_EXTERNAL_IP}
      clamav:
        enabled: true
      collabora:
        enabled: true
        username: ${NC_USER}
        password: ${NC_PASS}
      php:
        memory_limit: 4G
        pm_max_children: 180
        pm_max_spare_servers: 30
        pm_min_spare_servers: 12
        pm_start_servers: 18
        upload_limit: 10G
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
        - host: cloud.${DOMAIN_0}
          paths:
          - path: /
            pathType: Prefix
        integrations:
          nginx:
            enabled: true
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
    persistence:
      html:
        volsync:
        - name: html
          type: restic
          credentials: backblaze
          dest:
            #VolSync Destination (Restore)
            enabled: false
          src:
            #VolSync Source (Backup)
            enabled: true
      config:
        volsync:
        - name: config
          type: restic
          credentials: backblaze
          dest:
            #VolSync Destination (Restore)
            enabled: false
          src:
            #VolSync Source (Backup)
            enabled: true
      data:
        enabled: true
        type: nfs
        path: /mnt/Ottvault/Ottcloud
        server: ${NAS_IP}

    cnpg:
      main:
        cluster:
          singleNode: true
        #mode: recovery # Set to 'recovery' when recovery from S3, also change the revisions 
        backups:
          enabled: true
          credentials: backblaze
          retentionPolicy: "14d"
          revision: "8"
        recovery:
          credentials: backblaze
          revision: "7"
    resources:
      limits:
        cpu: 6000m
        memory: 10Gi
