apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: matter-server
  namespace: matter-server
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 15.29.2
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  uninstall:
    keepHistory: false
  values:
    image:
      repository: ghcr.io/matter-js/python-matter-server
      tag: 8.1.1
      pullPolicy: IfNotPresent
    global:
      stopAll: false
    service:
      main:
        enabled: true
        loadBalancerIP: "192.168.1.217"
        ports:
          main:
            port: 5580
        type: LoadBalancer

    persistence:
      data:
        enabled: true
        mountPath: "/data"

#    securityContext:
#      container:
#        privileged: true
#    podOptions:
#      hostNetwork: true
