apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
  namespace: qbittorrent
spec:
  interval: 5m
  chart:
    spec:
      # renovate: registryUrl=https://charts.truechartsoci.org
      chart: qbittorrent
      version: 24.0.2
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 5m
  install:
    createNamespace: true
    crds: CreateReplace
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    remediation:
      retries: 3
  values:
    portal:
      open:
        enabled: false
    global:
      stopAll: false
    credentials:
      backblaze:
        type: s3
        url: "${S3_ENDPOINT_URL}"
        bucket: "${S3_BUCKET}-arrs"
        accessKey: "${S3_ACCESS_KEY}"
        secretKey: "${S3_SECRET_KEY}"
        encrKey: "${S3_ENCRYPTION_KEY}"

    ingress:
      main:
        enabled: true
        ingressClassName: internal
        hosts:
        - host: qbit.${DOMAIN_0}
        integrations:
          nginx:
            enabled: true
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
          homepage:
            enabled: true
            group: "Arr"
            widget:
              custom:
                username: "${QBIT_USER}"
                password: "${QBIT_PASS}"
    persistence:
      config:
        volsync:
        - name: config
          type: restic
          credentials: backblaze
          dest:
            #VolSync Destination (Restore)
            enabled: false
          src:
            #VolSync Source (Backup)
            enabled: true
            trigger:
              schedule: 40 1 * * *
      media:
        enabled: true
        type: nfs
        path: /mnt/Ottvault/Media
        mountPath: /Media
        server: "${NAS_IP}"
      skins:
        enabled: true
        type: nfs
        path: /mnt/Ottvault/appdata/qbit/
        mountPath: /skins
        server: "${NAS_IP}"
    workload:
      qbitportforward:
        enabled: false
    addons:
      gluetun:
        enabled: true
        container:
          #resources:
          #limits:
          #truecharts.org/tun: 1
          env:
            FIREWALL_OUTBOUND_SUBNETS: "${LOCAL_IP_EXCLUSIONS}"
            FIREWALL: "on"
            OPENVPN_PASSWORD: "${OPENVPN_PASSWORD}"
            OPENVPN_USER: "${OPENVPN_USER}"
            SERVER_HOSTNAMES: "${OPENVPN_HOSTNAME}"
            SERVER_REGIONS: "${OPENVPN_REGION}"
            VPN_SERVICE_PROVIDER: "${OPENVPN_PROVIDER}"
            VPN_TYPE: "openvpn"
