---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home-assistant
spec:
  interval: 15m
  chart:
    spec:
      chart: home-assistant
      version: 29.0.9
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:

    global:
      stopAll: false
    TZ: America/Los_Angeles
    # for now until image is fixed
    image:
      repository: docker.io/homeassistant/home-assistant
      pullPolicy: IfNotPresent
      tag: 2026.1.3@sha256:c36741490472518338323db8ee67775d7df70d2fa1f68eff9b9e63679fe64a18

    credentials:
      backblaze:
        type: s3
        url: "${S3_ENDPOINT_URL}"
        bucket: "${S3_BUCKET}-hass"
        accessKey: "${S3_ACCESS_KEY}"
        secretKey: "${S3_SECRET_KEY}"
        encrKey: "${S3_ENCRYPTION_KEY}"

    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
        - host: homeauto.${DOMAIN_0}
        integrations:
          nginx:
            enabled: true
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod

    homeassistant:
      trusted_proxies:
      - 172.16.0.0/16
      - 172.17.0.0/16
    addons:
      codeserver:
        enabled: true
        ingress:
          enabled: true
          ingressClassName: internal
          hosts:
            - host: cs-hass.${DOMAIN_0}
          integrations:
            certManager:
              enabled: true
              certificateIssuer: domain-0-le-prod
    persistence:
      config:
        volsync:
        - name: volsync
          type: restic
          credentials: backblaze
          dest:
            #VolSync Destination (Restore)
            enabled: false
          src:
            #VolSync Source (Backup)
            enabled: true
            trigger:
              schedule: 20 1 * * *
      zigbee:
        enabled: true
        type: device
        hostPath: /dev/ttyUSB0

    cnpg:
      main:
        cluster:
          singleNode: true
        #mode: recovery # Set to 'recovery' when recovery from S3, also change the revisions 
        backups:
          enabled: true
          credentials: backblaze
          retentionPolicy: "14d"
          revision: "6"
        recovery:
          credentials: backblaze
          revision: "5"
    podOptions:
      hostNetwork: true
    securityContext:
      container:
        privileged: true
