---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traccar
  namespace: traccar
spec:
  interval: 15m
  chart:
    spec:
      chart: traccar
      version: 20.12.16
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 20m
  maxHistory: 3
  driftDetection:
    mode: warn
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                MAIL_SMTP_HOST: ${CONFIG_EMAIL_SMTP}
                MAIL_SMTP_PORT: 465
                MAIL_SMTP_SSL_ENABLE: true
                MAIL_SMTP_USERNAME: ${CONFIG_EMAIL}
                MAIL_SMTP_PASSWORD: ${CONFIG_EMAIL_PASS}
                MAIL_SMTP_FROM: ${CONFIG_EMAIL}
    ingress:
      main:
        enabled: true
        ingressClassName: external
        hosts:
        - host: mileage.${DOMAIN_0}
        integrations:
          nginx:
            enabled: true
          traefik:
            enabled: false
          certManager:
            enabled: true
            certificateIssuer: domain-0-le-prod
